* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: url("./assets/home-background.png");
  background-position: center;
  background-size: auto;
  background-repeat: no-repeat;
}
